<div class="position-relative">
  <div class="position-absolute top-0 end-0">
    <p>
      <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        HELP
      </button>
    </p>
    <div style="min-height: 120px;">
      <div class="collapse" id="collapseExample">
        <div class="card card-body bg-brown bg-gradient" style="width: 200px;">
          Some valid stock ticker symbols are:
          <ul>
            <li>AAPL
            <li>AMZN
            <li>GOOG
            <li>MSFT
            <li>TSLA
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
