// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container{
  background: fade-out( $color:white, $amount: .2);
}
.bg-brown{
  background-color:rgba(46, 41, 29, 0.868) !important;
  color: white;
}
.bg-blue{
  background-color:rgb(75, 123, 190) !important;
}
.bg-orange{
  background-color:rgba(252, 143, 96, 0.869);
  color:rgb(59, 112, 155) !important;
}
.card{
  background-size: cover;
  background-image: url('stock-exc.jpg');
}
